version: '3.9'
services:
  mongo_db:
    container_name: db_container
    image: apradip/hotelapp_db:latest
    restart: always
    ports:
      - 27017:27017
    volumes: 
      - ./mongo_db:/data/db

# Node JS API https://www.youtube.com/watch?v=vm3YfOHf_Cc
  api:
    container_name: api_container
    build: .
    ports:
      - 8000:8000
    depends_on:
      - mongo_db
    environment:
      - API_SERVER_PORT=8000
      - ACCESS_TOKEN_SECRET=79929dab59c07b6b8a82b4d2805f725b65eb5cf5d7a55733d6fb4cf46bd589585ee120568a6d972019ac303e1e19268a4b5b8c9679da3ced537f64f764185406
      - REFRESH_TOKEN_SECRET=dded652ea31c8a34d294a24d715e79a9d44e74cb9c17fba822766c3408db046faa89ab8c94bbd67c1929f332c391eeba29016ea85355367e6860abaaed26d637
      - DATABASE_URI=mongodb://db_container:27017/hotelApp
      - EMAIL_ADDRESS=sales@pixelinfo.in
      - EMAIL_PASSWORD=Pixel@0211#

volumes:
  mongo_db: {}